@model HelloWeb.Models.HomeModel

<ol>
@foreach(var alertMode in Model.AlertModes)
{
	<a href="@alertMode.ChangeTypeUrl"><li class="@(alertMode.IsSelected ? "selected" : "")">@alertMode.Name</li></a>
}
</ol>
